<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sudokum</title>
    <link rel="stylesheet" href="/css/log-in.css">
    <link rel="icon" type="image/x-icon" href="/icons/pastime.png">
</head>
<body>
<div class="wrapper">
    <h2>LOG IN</h2>
    <form id="loginForm">
        <label for="username"></label><input type="text" id="username" placeholder="Username" required><br><br>
        <label for="password"></label><input type="password" id="password" placeholder="Password" required><br><br>
        <button type="submit">Log In</button>
        <p id="responseMessage"></p>
    </form>
</div>
<script src="/scripts/log-in.js"></script>
</body>
</html>